div(ng-controller="mvNavBarLoginCtrl")
  form.form-inline.my-2.my-lg-0
    div(ng-hide="identity.isAuthenticated()")
      .input-group
        a.btn.btn-sm.btn-secondary.mr-sm-2(href="/signup") Sign Up
        input.form-control-dark.mr-sm-2(type="text", autocomplete="username", placeholder="Email", ng-model="username")
        input.form-control-dark.mr-sm-2(type="password", autocomplete="current-password", placeholder="Password", ng-model="password")
        button.btn.btn-sm.btn-secondary(ng-click="signIn(username, password)") Sign In

  div(ng-show="identity.isAuthenticated()")
    ul.navbar-nav
      li.nav-item.dropdown
        a.nav-link.dropdown-toggle(href="#", data-toggle="dropdown")
          | {{identity.currentUser.firstName + ' ' + identity.currentUser.lastName}}
          b.caret
        div.dropdown-menu
          a.dropdown-item(href="/admin/users", ng-show="identity.currentUser.isAdmin()") User Admin
          a.dropdown-item(href="/profile") Profile
          a.dropdown-item(href="", ng-click="signOut()") Sign Out
