doctype
html.h-100
  head
    meta(charset="utf-8")
    base(href="/")
    link(href="/favicon.ico", rel="shortcut icon", type="image/x-icon")
    link(rel="stylesheet", href="/assets/vendor/bootstrap/dist/css/bootstrap.css")
    link(rel="stylesheet", href="/assets/vendor/toastr/toastr.css")
    link(rel="stylesheet", href="/assets/css/site.css")
    title MultiVision

  body.d-flex.flex-column.h-100(ng-app="app")
    block main-content

    include scripts
