script(src="/assets/vendor/jquery/dist/jquery.js")
script(src="/assets/vendor/angular/angular.js")
script(src="/assets/vendor/angular-resource/angular-resource.js")
script(src="/assets/vendor/angular-route/angular-route.js")
script(src="/assets/vendor/bootstrap/dist/js/bootstrap.bundle.js")
script(src="/assets/vendor/toastr/toastr.js")

script(src="/app/app.js")
